name: Deployment Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.9.1
        with: 
          access_token: ${{github.token}}

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: '14'

      - name: Install dependencies
        run: |
          npm install --no-audit --no-fund --no-optional
          npm install cypress@9.7.0 --no-audit --no-fund --no-optional

      - name: Lint
        run: npm run eslint

      - name: Build
        run: 
          npm run build

      - name: Test
        run: npm test

      - name: E2E tests
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm run start-test
          wait-on: 'http://localhost:5000'
      
      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.12.12
        with: 
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          healthchheck: "https://${{secrets.HEROKU_APP}}.herokuapp.com/health"
          rollbackonhealthcheckfaild: true

